<div class="resource_title">
  <span>Задача <%= @task.id %></span>
  <h1><%= @task.title %></h1>
</div>

<div class="extend_info">
  <p>azure_id: <%= @task.azure_id %></p>
  <p>hubstaff_id: <%= @task.hubstaff_id %></p>
  <p>Выполнено: <%= @task.tracked_hours %>ч</p>
</div>

<hr />
Сотрудник: <%= link_to @task.member.name, member_path(@task.member) %>
<hr />
Проект: <%= link_to @task.project.title, project_path(@task.project) %>
