<div class="resource_title">
  <span>Project <%= @project.id %></span>
  <h1><%= @project.title %></h1>
</div>

<%= simple_form_for @project do |f| %>
  <%= f.input :azure_id, readonly: true %>
  <%= f.input :azure_name, readonly: true %>
  <%= f.input :hubstaff_id, as: :select, collection: @hubstaff_projects.map {|raw| [raw['name'], raw['id']]} %>
  <p>or create project in HB by <%= link_to 'link', create_in_hb_project_path(@project) %></p>
  <%= f.button :submit %>
<% end %>
