<h1>Project <%= @project.id %></h1>

<p>title: <strong><%= @project.title %></strong></p>
<p>azure_id: <%= @project.azure_id %></p>
<p>azure_name: <%= @project.azure_name %></p>
<p>hubstaff_id: <%= @project.hubstaff_id %></p>

<div>
  <%= link_to 'edit', edit_project_path(@project) %>
</div>
<hr />

<span>belongs to organization: </span>
<%= link_to @project.organization.title, organization_path(@project.organization) %>
