<div class="resource_title">
  <span>Organization <%= @organization.id %></span>
  <h1><%= @organization.title %></h1>
</div>

<%= link_to 'get code', HubstaffClient.new.start_auth_code_url, target: 'blank' %>

<%= simple_form_for(@organization, url: update_hubstaff_start_auth_code_organization_path(@organization), method: :post) do |f| %>
  <%= f.input :hubstaff_start_auth_code, input_html: { style: 'width:100%', value: '' } %>
  <%= f.button :submit %>
<% end %>
