<div class="resource_title">
  <span>Organization <%= @organization.id %></span>
  <h1><%= @organization.title %></h1>
</div>

<%= simple_form_for @organization do |f| %>
  <%= f.input :azure_id %>
  <%= f.input :azure_access_token %>
  <%= f.input :hubstaff_id %>
  <%= f.input :auto_create_azure_hooks_on_project_create %>
  <%= f.input :auto_create_hubstaff_project_on_project_create %>
  <%= f.button :submit %>
<% end %>
