<div class="resource_title">
  <span>Организация <%= @organization.id %></span>
  <h1><%= @organization.title %></h1>
</div>

<div class="extend_info">
  <p>azure_id: <%= @organization.azure_id %></p>
  <p>
    hubstaff_id: <%= @organization.hubstaff_id %>
    <%= link_to 'Настроить доступ Hubstaff', edit_hubstaff_access_organization_path(@organization) %>
  </p>
</div>

<div>
  <%= link_to 'Редактировать', edit_organization_path(@organization), class: 'btn primary' %>
  <%= link_to 'Удалить', organization_path(@organization), method: :delete, class: 'btn warn small', data: { confirm: 'Ю арэ шурэ?' }  %></p>
</div>

<hr />

<span>Сотрудники: </span>

<table>
  <tbody>
    <% @organization.members.each do |member| %>
      <tr>
        <td class='main'><%= link_to member.name, member_path(member) %></td>
        <td><%= member.hubstaff_status %></td>
        <td><%= link_to 'Редактировать', edit_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Обновить', get_from_azure_organization_members_path(@organization), class: 'btn primary' %>

<hr />

<span>Проекты: </span>

<table>
  <tbody>
    <% @organization.projects.each do |project| %>
      <tr>
        <td class='main'><%= link_to project.title, project_path(project) %></td>
        <td><%= project.hubstaff_status %></td>
        <td><%= link_to 'Редактировать', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Обновить', get_from_azure_organization_projects_path(@organization), class: 'btn primary' %>
