<!DOCTYPE html>
<html>
  <head>
    <title>HbAzureInterface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'organizations', organizations_path %>
      <%= link_to 'members', members_path %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
