<!DOCTYPE html>
<html>
  <head>
    <title>HbAzureInterface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <table style='width:100%'>
        <tbody>
          <tr>
            <td>
              <%= link_to 'home', root_path %>
              <%= link_to 'organizations', organizations_path %>
              <%= link_to 'members', members_path %>
            </td>
            <td style='text-align:right;'>
              <% if user_signed_in? %>
                <%= link_to 'logout', destroy_user_session_path, method: 'delete' %>
              <% else %>
                <%= link_to 'login', new_user_session_path %>
              <% end %>
            </td>
          </tr>
        </tbody>

      </table>
    </header>
    <div class='container'>
      <div class='device_notifies'>
        <p class='notice'><%= notice %></p>
        <p class='alert'><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
