<div class="resource_title">
  <span>Сотрудник <%= @member.id %></span>
  <h1><%= @member.name %></h1>
</div>

<%= simple_form_for @member do |f| %>
  <%= f.input :azure_id, readonly: true %>
  <%= f.input :azure_email, readonly: true %>
  <%= f.input :hubstaff_id, as: :select, collection: @hubstaff_users.map {|raw| [raw['name'], raw['id']]} %>
  <%= f.button :submit, class: 'btn primary' %>
<% end %>
