<div class="resource_title">
  <span>Сотрудник <%= @member.id %></span>
  <h1><%= @member.name %></h1>
</div>

<div class="extend_info">
  <p>azure_id: <%= @member.azure_id %></p>
  <p>azure_email: <%= @member.azure_email %></p>
  <p>hubstaff_id: <%= @member.hubstaff_id %></p>
</div>

<div>
  <%= link_to 'Редактировать', edit_member_path(@member), class: 'btn primary' %>
</div>
<hr />

<span>В организациях: </span>

<table>
  <tbody>
    <% @member.organizations.each do |organization| %>
      <tr>
        <td class='main'><%= link_to organization.title, organization_path(organization) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

